* {
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.bg-primary {
    background-color: #87ceeb !important;
}

.text-primary {
    color: #87ceeb !important;
}

.btn-primary {
    color: #fff;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-outline-primary {
    color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #87ceeb !important;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
}